body {
	background: url(https://www.pngtube.com/myfile/detail/89-890213_basketball-wall-decals-graphics-shop-fathead-nba-png.png)
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: skyblue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

img {
	height: 200px;
	width: auto;
}

h1, h2, h3, .question {
	text-align: center;
}